body {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans !important;
    font-size: 12px;
}

hr {
    height: 2px;
    color: red;
}

form a {
    text-decoration: underline;
}

header .navbar-brand img {
    position: relative;
    top: -6px;
    height: 60px;
}

.col-center {
    float: none !important;
    margin: 0 auto !important;
}

.footer_bottom {
    padding-bottom: 10px;
}

.footer_top {
    width: 100%;
    height: 100px;
}

.footer_bottom {
    width: 100%;
    height: 100px;
}

.breadcrumb {
    background-color: white;
}

.top_logo {
    width: 500px;
    height: 120px;
    background-image: url(../../images/top_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.vert_20 {
    padding: 20px;
}

.need_help {
    margin-top: 50px;
    width: 80px;
    text-align: center;
}
.need_help_img {
    width: 80px;
    height: 70px;
}
.need_help a {
    color: grey;
    text-decoration: none;

    background-image: url("../../images/need_help_std.png");
    background-repeat: no-repeat;
}
.need_help a :hover {
    background-image: url("../../images/need_help_act.png");
}

.desc_block .title {
    height: 120px;
}
.desc_block .title img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 100px;
}
.desc_block .title_text {
    position: relative;
    font-size: 18px;
    text-transform: uppercase;
    left: 220px;
    top: -80px;
}
.desc_block .title_desc {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    left: 220px;
    top: -80px;
}
.desc_block .desc_text {
    text-align: justify;
}

.card-table td {
    padding: 10px 5px 10px 5px;
}
.card-td-title {
    vertical-align: top; 
    text-align: right; 
    padding-right: 5px; 
    font-weight: bold;
}
.card-adding {
    padding-top: 10px;
}

div.tabs ul.nav-tabs a:last-child, div.tabs ul.nav-tabs a:last-child:hover {
    border-radius: 0px 0px 0px 0px
}

.card-row {
    border: 1px 1px 1px 1px;
    border-color: #D8D8D8;
}

.wp-theme-1 h1, .wp-theme-1 h2, .wp-theme-1 h3, .wp-theme-1 h4, .wp-theme-1 h5, .wp-theme-1 h6 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

.font_black {
    color: black;
}

label {
    color: black;
}

b, strong {
    font-weight: 300;
}

h1, h2, h3 {
    color: black;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
    color: black;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    color: black;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label {
    height: 23px;
}