<div class="row">
    <div class="col-md-4">
        <p><strong>Праздник</strong></p>
        <p>
            <ul>
                <li>@Html.ActionLink("ищу ведущего, тамаду", "AddTender", "Buyer")</li>
                <li><a href="#">ищу DJ, звукорежисёра</a></li>
                <li><a href="#">ищу фотографа</a></li>
                <li><a href="#">ищу видео, видео-оператора</a></li>
                <li><a href="#">ищу муз. коллектив, исполнителя</a></li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <p><strong>Не праздник</strong></p>
        <p>
            <ul>
                <li><a href="#">ищу ведущего, тамаду</a></li>
                <li><a href="#">ищу DJ, звукорежисёра</a></li>
                <li><a href="#">ищу фотографа</a></li>
                <li><a href="#">ищу видео, видео-оператора</a></li>
                <li><a href="#">ищу муз. коллектив, исполнителя</a></li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <p><strong>Праздник</strong></p>
        <p>
            <ul>
                <li><a href="#">ищу ведущего, тамаду</a></li>
                <li><a href="#">ищу DJ, звукорежисёра</a></li>
                <li><a href="#">ищу фотографа</a></li>
                <li><a href="#">ищу видео, видео-оператора</a></li>
                <li><a href="#">ищу муз. коллектив, исполнителя</a></li>
            </ul>
        </p>
    </div>
</div>
