<div style="padding-bottom:20px;">
    <img src="~/Content/images/fish/45.png" style="width: 100%;" />
</div>

<div style="padding-bottom:20px;">
    <img src="~/Content/images/fish/45.png" style="width: 100%;" />
</div>