
@{
    ViewBag.Title = "Документы";
}

<h2>Документы</h2>

<p>
    @Html.ActionLink("Правила пользования сайтом", "Rules", "Home")
</p>
<p>
    @Html.ActionLink("Договор-оферта", "Termins", "Home")
</p>
<p>
    @Html.ActionLink("Инструкция заполнеиния заявок", "Instruction", "Home")
</p>
<p>
    @Html.ActionLink("Правила заполнения профиля", "AboutProfile", "Home")
</p>