
@{
    ViewBag.Title = "Как это работает";
}

<h2>Как это работает</h2>

<div class="row" style="padding-top: 30px;">
    <div class="col-lg-12">
        <p>
            <strong>Покупатель</strong>
        </p>
        <p>
            В роли покупателя на сайте Вы можете заказывать услуги (товары) по принципу торгов, выбирая себе наиболее подходящее предложение, которое формировалось именно под Ваш заказ. Это для Вас будет выгодно тем, что вы можете «торгуясь как на рынке» сразу с несколькими продавцами выгоднее приобрести услугу (товар)
            Что бы найти, заказать услугу Вам потребуются следующие действия:
        </p>
        <p>
            <ol>
                <li>
                    Нажать на кнопку «новая заявка»,  выбрать тему и категорию  услуги (товара)
                    Которая Вам необходима.
                    Максимально подробно и понятно описать детали, как именно вы бы хотели, чтобы вам оказали услугу – время, бюджет, место и прочие особенности и пожелания.
                    Отправить заявку, после чего ее получат «продавцы», которые подписались под категорию этой услуги.
                </li>
                <li>Через какое-то время вам начнут поступать предложения, от продавцов, которые решили, что могли бы осуществить ваш заказ исходя из требований, которые вы описали. </li>
                <li>Проверять предложения вы можете по своему усмотрению, например, через сутки. Выбрать победителя вы можете пока не закончится врем торга (тендера), периодически проверяя предложения.</li>
                <li>Выбрав победителя торгов, вы закрываете торг навсегдаюю. Вы можете созвониться с продавцом или написать ему личное сообщение. Так же вы можете добавить его визитку в свою электронную визитницу в меню, чтобы не забыть его контакты и возможно обратиться еще раз.</li>
            </ol>
        </p>
        <p>
            <strong>Продавец</strong>
        </p>
        <p>
            У Вас есть бизнес или работа, которые сталкиваются с конкуренцией? Может быть Вы администратор отеля или сдаете домик на море, тамада, парикмахер или, быть может, занимаетесь отделкой помещений, занимаетесь автоперевозками или адвокат? У Вас есть конкуренты, которые делят с Вами клиентов. Уверен Вы этому не очень рады. Вы стараетесь заявить о себе с помощью рекламы, но конкуренты это делают не хуже Вас, а может быть и в чем-то лучшие.  Вы долго ждете звонка от клиента, хотя даже позвонив он говорит «спасибо я подумаю, перезвоню»...
        </p>
        <p>
            Вероятно, это испытывает любой бизнес от очень маленького до относительно крупного.
        </p>
        <p>
            Мы предлагаем Вам способ поучаствовать на равных в борьбе за клиента и Вашу прибыль.   В отличие от обычного объявления, напечатанного в газете, журнале или размещенного в интернете наша система рассчитана на то, что Вы сами пишете клиенту, а не ждете сутками пока он сам найдет Ваше объявление среди сотни похожих. Итог: на сайте www.my-tend.com объявления отсутствуют. Есть заявки от покупателей(клиентов) - спрос и есть предложения от тех, кто участвует в роли продавца.
        </p>
        <p>
            <ol>
                <li>У нас нет статусов VIP , которые бы бросали тень на ваши предложения потенциальному клиенту.</li>
                <li>
                    2. У нас нет объявлений, и прочих списков спроса и предложения услуг (товаров) Мы считаем, что не всегда можно удачно конкурировать среди десятков одинаково написанных объявлений, из-за которых ваше может затеряться.
                    Ждать звонка неделями в надежде что вас заметили не выгодно. Поэтому мы предлагаем вам
                    Сделать наоборот – клиент пишет свою заявку, а вы пишете ему свое предложение.
                    Если оно окажется ему выгодным и интересным - Вы совершите сделку и заработаете деньги.
                    Разумеется, мы считаем, что не все виды услуг или товаров подходят под нашу систему, но для них уже есть отличные сайты. Что бы получать заявки и участвовать в торгах нужно:
                    <ul>
                        <li>Зарегистрироваться на сайте.</li>
                        <li>Заполнить электронную визитку с указанием рода деятельности, контактов, портфолио из фотографий.</li>
                        <li>Подписаться на категории и темы торгов по которым вы хотите получать заявки.</li>
                        <li>Оплатить 1000 рублей удобным для вас способом.</li>
                    </ul>
                </li>
                <li>Мы не предлагаем повысить, выделить, оплатить за какие-то временные преимущества перед конкурентами.</li>
                <li>Мы не берем процент за сделку.</li>
                <li>У всех одинаковые возможности. Ваш успех зависит от того как быстро вы ответили, насколько интересно предлагаете, как выгодно отличается от предложения конкурентов. </li>
                <li>Верьте в себя и свое дело.</li>
            </ol>
        </p>
        <p>
            Каждый раз, когда Вам будет приходить запрос вы будете писать от себя новое предложение исходя из условий, описанных возможно вашим будущим клиентом.
        </p>
        <p>
            Участвуйте в торгах по заявкам в темах сферы Вашего бизнеса и у Вас будет шанс обойти конкурента в каждом конкретном заказе на услуги, которые Вы предоставляете. Только ленивый может себе позволить ждать и полагаться на удачу. Успехов и побед Вам.
        </p>
    </div>
</div>