@model List<YaProdayu2.Y2System.Utils.Theme>
@{
    ViewBag.Title = "Главная";
    var max = Model.Count() - 1;
    var i = 0;
    var itemI = 0;
}
<div class="tenderRow" style="padding-top:40px">
    
        @foreach (var item in Model)
        {
            if (i == 0)
            {
                @:<div class="row"> 
            }
            
                <div style="text-align: center">
                    <div class="col-md-4">
                        <p>
                            <a href="~/Buyer/CreateTender?theme=@item.Key"><img src="~/Content/images/kats/@item.Image" class="tenderImg" width="@item.Width" height="@item.Heigth" /></a>
                        </p>
                        <p>
                            <strong>@Html.ActionLink(item.Key, "CreateTender", "Buyer", new { @theme = item.Key }, new { @style = "color: #000066;" })</strong>
                        </p>
                    </div>
                </div>
            
            if(i == 2 || itemI == max)
            {
                @:</div>
            }
            
            if (i == 2)
            {
                i = 0;
            }
            else
            {
                i++;
            }

            itemI++;
        }
</div>
