
@{
    ViewBag.Title = "Инструкция заполнения заявок";
}

<h2>Инструкция заполнения заявок:</h2>


Данная инструкция относится к документу правила пользования сайтом. 
И должна учитываться пользователями сайта в полном объёме.
За нарушение пунктов может последовать блокировка и удаление с сайта. <p>

<div style="color: #65267a; font-weight: bold;">1.Выберите категорию </div><p> - внимательно ознакомившись с  категориями, выберите подходящую к вашему запросу.<p>

<div style="color: #65267a; font-weight: bold;">2. Страна</div><p> - Вы можете найти исполнителя заявки не только в своей стране, но так-же обратиться за помощью в оказании услуги к жителям соседних государств, если на то указывает Ваша жизненная ситуация. <p>
<div style="color: #65267a; font-weight: bold;">3. Регион</div><p> – выберите регион(область,республика,АО) исполнения заказа учитывая страну.<p>
<div style="color: #65267a; font-weight: bold;">4. Город</div><p> - выберите город исполнения заказа учитывая страну и регион.<p>
<div style="color: #65267a; font-weight: bold;">5. Тип заявки:</div><p>
Открытые торги - продавцы делают предложения на основе вашей заявки, а также видя предложения своих конкурентов.<p>
Закрытые торги – продавцы делают предложения основываясь только на вашу заявку, и невидят, какие условия предлагает их конкурент.  <p>

<div style="color: #65267a; font-weight: bold;">6. Название торгов</div><p> – Дайте краткое название Вашей заявки - заголовок <p>

<div style="color: #65267a; font-weight: bold;">7. Сообщение </div><p>- это главный элемент заявки. Тут нужно все пожелания и детали вашей заявки - суть, время, место, прочие детали которые  должен учесть продавец услуги.
  От этого будет зависеть каким будет сделано для Вас предложение. <p>
Например-  <p>
Компания из 8 человек хочет поехать на автомобилях  в город Анапа. Нам требуется  найти  комнаты для проживания . Дальность от моря не более 10 минут. С телевизором, кондиционером, WI-FI, стоянкой для  3 автомобилей. 
Примерно в первой половине августа на 2 недели. 
Не дороже 700 рублей в сутки с человека
  <p>

Или : <p>
Хотел бы отметить свой юбилей   50-летите (2 сентября) и для этого мне требуется банкетный зал на 40 человек. Ориентируюсь на сумму в меню  1500-2000 р на человека. Хотелось бы, что бы спиртное и фрукты были с нашей стороны.  Желательно что-бы ресторан находился в районе центра города, с живой музыкой и дискотекой (стиль 80-90 годы). Буду благодарен в поиске ведущего вечера, а также фотографа.  <p>

<div style="color: #b62525; font-weight: bold;">Внимание:</div><p> Заполнять заявку можно исключительно на русском языке или языке страны, которую Вы выбрали в меню во время заполнения заявки в пункте 1. <p>

<div style="color: #65267a; font-weight: bold;">8. Предполагаемый бюджет</div><p> -  укажите какая сумма вас устроит за услугу (товар) которую Вы хотите заказать (носит примерных характер)  <p>

<div style="color: #65267a; font-weight: bold;">9. Фото</div><p> – при необходимости вы можете прикрепить несколько фотографий, для визуального уточнения вашей заявки. <p>
<div style="color: #b62525; font-weight: bold;">Внимание:</div><p> Изображение на фото должно по смыслу относиться к описанной  заявке и не должно противоречить законам Российской Федерации на момент даты размещения фото, а также не противоречить нормам здравого смысла и морали. <p>

<div style="color: #65267a; font-weight: bold;">10. Разрешить писать мне от участников торгов</div><p> – во время торгов у вас есть возможность переписки с участниками торгов, если Вы желаете, чтобы участники писали вам личные сообщения то поставьте галочку. По умолчанию связи с вами нет пока Вы сами им не напишете. Или не добавите друг друга в визитницы .
<div style="color: #b62525; font-weight: bold;">Внимание:</div><p> Переписка между пользователями находится вне компетенции и взора администрации сайта, которая не несет ответственности за ее содержимое. Все претензии и споры к друг другу возникшие в ходе переписки должны решаться в законном порядке без привлечения администрации сайта. Используя функцию переписки на сайте пользователи обязаны ознакомиться с правилами пользования сайтом. <p>
<div style="color: #65267a; font-weight: bold;">11. Время активности </div><p>- этот параметр настраивает время проведения торгов. 
По истечению времени торга, если не был выбран победитель торг удалится автоматически навсегда. <p>
 



