body {
    padding: 10px;
}

hr {
    height: 2px;
    color: red;
}

.footer_bottom {
    padding-bottom: 10px;
}

.footer_top {
    width: 100%;
    height: 100px;
}

.footer_bottom {
    width: 100%;
    height: 100px;
}

.breadcrumb {
    background-color: white;
}

.top_logo {
    width: 500px;
    height: 120px;
    background-image: url(../../images/top_logo.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.need_help {
    margin-top: 50px;
    width: 80px;
    text-align: center;
}
.need_help_img {
    width: 80px;
    height: 70px;
}
.need_help a {
    color: grey;
    text-decoration: none;

    background-image: url("../../images/need_help_std.png");
    background-repeat: no-repeat;
}
.need_help a :hover {
    background-image: url("../../images/need_help_act.png");
}

.desc_block .title {
    text-align: center;
}
.desc_block .title img {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.desc_block .desc_text {
    text-align: justify;
}

.reg_cart {
    margin:0 25% 0 25%;
    width:50%;
    height: 130px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.reg_cart .reg_cart_title {
    width: 200px;
    position: absolute;
    left: 110px;
    top: 25px;
}
.reg_cart .reg_cart_title p {
    color: gray;
    font-size: 14px;
}
.reg_cart .reg_cart_img img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}