<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="col">
                    <h4>О нас</h4>
                    <ul>
                        <li>5th Avenue, New York - United States</li>
                        <li>Телефон: +10 724 1234 567 </li>
                        <li>Email: <a href="mailto:hello@example.com" title="Email Us">hello@example.com</a></li>
                        <li>Skype: <a href="skype:my.business?call" title="Skype us">my-business</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                    <h4>Рассылка</h4>
                    <p>Подписаться на расслыку</p>
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ваш email...">
                            <span class="input-group-btn">
                                <button class="btn btn-two" type="button">Ok!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col col-social-icons">
                    <h4>Мы в соцсетях</h4>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-skype"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-flickr"></i></a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col">
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-lg-9 copyright">
                2014 © Vidritskiy Rostislav.
            </div>
            <div class="col-lg-3 footer-logo">

            </div>
        </div>
    </div>
</footer>
