<div class="text-left">
    <nav>
        <p>@Html.ActionLink("Главная", "Index", "Home")</p>
        <p>@Html.ActionLink("Покупатели", "Index", "Buyer")</p>
        <p>@Html.ActionLink("Продацы", "Index", "Seller")</p>
    </nav>
</div>
