@model YaProdayu2.Models.Views.BuyerRegistrationView

@{
    ViewBag.Title = "Регистрация";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form role="form" method="post" action="RegBuyer">
            <div class="form-group">
                <label for="Name">ФИО*</label>
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Иван Иванов Иванович" value="@Model.Name" required>
            </div>
            <div class="vert_20"></div>
            <div class="form-group">
                <label for="Email">Email*</label>
                <input type="email" class="form-control" id="Email" name="Email" placeholder="Email" value="@Model.Email" required>
            </div>
            <div class="form-group">
                <label for="Password">Пароль*</label>
                <input type="password" class="form-control" id="Password" name="Password" placeholder="Пароль" value="@Model.Password" required>
            </div>
            <p><input type="checkbox" placeholder="wd" name="IsAcceptRules" id="IsAcceptRules" value="@Model.IsAcceptRules" /> Согласен с <a href="#">условиями договора</a></p>
            <p>* - объязательные поля</p>
            <div style="width: 100%; text-align: center;">
                <button type="submit" class="btn btn-two">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>