<h2>Регистрация</h2>
<br />
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="desc_block">
            <div class="title">
                <div><img src="@Url.Content("~/Content/images/cart_sell.png")" /></div>
                <div class="title_text">я буду продавать</div>
                <div class="title_desc">ежемесячный взнос</div>
            </div>
            <div class="desc_text">
                <p>
                    Компания Microsoft рекомендует отказаться от установки обновления MS14-045 (KB2982791), которое вышло на этой неделе в рамках patch tuesday.
                    После установки этого обновления компьютер пользователя может оказаться неработоспособным, в частности, функционирование Windows может происходить с BSOD или «синим экраном смерти»,
                    который не позволит нормально загрузить компьютер. Пользователям, которые установили данное обновление и столкнулись с проблемой, компания предлагает инструкции по ее решению.
                    Так ли иначе, обновление было удалено с сервера обновлений и ссылка на него также удалена с веб-сайта Microsoft.
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="desc_block">
            <div class="title">
                <div><img src="@Url.Content("~/Content/images/cart_buy.png")" /></div>
                <div class="title_text">я буду покупать</div>
                <div class="title_desc">бесплатно</div>
            </div>
            <div class="desc_text">
                <p>
                    Компания Microsoft рекомендует отказаться от установки обновления MS14-045 (KB2982791), которое вышло на этой неделе в рамках patch tuesday.
                    После установки этого обновления компьютер пользователя может оказаться неработоспособным, в частности, функционирование Windows может происходить с BSOD или «синим экраном смерти»,
                    который не позволит нормально загрузить компьютер. Пользователям, которые установили данное обновление и столкнулись с проблемой, компания предлагает инструкции по ее решению.
                    Так ли иначе, обновление было удалено с сервера обновлений и ссылка на него также удалена с веб-сайта Microsoft.
                </p>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-6 col-md-6 col-lg-6" style="text-align: center;">
        @Html.ActionLink("Зарегистрироваться как продавец", "RegSeller", "Account", null, new { @class = "btn btn-four" })
    </div>
    <div class="col-lg-6 col-md-6 col-lg-6" style="text-align: center;">
        @Html.ActionLink("Зарегистрироваться как покупатель", "RegBuyer", "Account", null, new { @class = "btn btn-four" })
    </div>
</div>