<h2>Регистрация</h2>
<div class="row registration">
    <div class="col-lg-4 col-md-4 col-sm-8">
        <div class="description">
            <div class="title"></div>
            <div class="description"></div>
        </div>
        <div class="rega">
            <div class="sell_desc">
                <div class="title">Я буду продавать</div>
                <div class="description">Ежемесячный взнос</div>
            </div>
            <div>

            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-8">

    </div>
</div>